.navbar {
    background-color: #d50000;
    border: none;
    border-radius: 0;
}

.navbar-inverse .navbar-nav > li {
    border-bottom: 2px solid #d50000;
}

.navbar-inverse .navbar-nav > li:hover,
.navbar-inverse .navbar-nav > li:active {
    border-bottom: 2px solid #fafafa;
    background-color: #f44336;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a {
    color: #fafafa;
}

@media (max-width: 768px) { 

    .navbar-inverse .navbar-toggle:focus, 
    .navbar-inverse .navbar-toggle {
        background-color: #d50000;
    }

    .navbar-inverse .navbar-toggle:hover {
        background-color: #f44336;
    }

    .navbar-inverse .navbar-toggle,
    .navbar-inverse .navbar-collapse {
        border-color: #fafafa;
    }

    .navbar-inverse .navbar-nav > li:hover,
    .navbar-inverse .navbar-nav > li:active {
        border-bottom-color: #d50000;
        background-color: #f44336;
    }
}

