.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #fafafa;
}

.dropdown-menu {
    padding: 10px 0;
}

.svg-inline--fa {
    margin-right: 4px;
}

@media (max-width: 768px) { 

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, 
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #f44336;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #fafafa;
    }

    .navbar-inverse .navbar-nav > li.dropdown:hover,
    .navbar-inverse .navbar-nav > li.dropdown:active {
        background-color: transparent;
    }
}