.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 16px 0;
}

.table-responsive {
    width: 100%;
}

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.img-circle {
    margin: 0 4px;
    max-height: 50px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}